
.trabajo{
                text-align: center;
                color: #fff;
                background-color: blue
        }
img{
            display:block;
            margin:auto;
            }

h5, h3{
            color: #fff;
  background-color: blue;
        }

